.button-primary
{
  background-color: #f47820;
  display: flex;
  justify-items: center;
  /* align-content: center; */
  align-items: center;
  color: white;
  border: none;
}

.button-secondary
{
  background-color: #0056a1;
  display: flex;
  justify-items: center;
  /* align-content: center; */
  align-items: center;
  color: white;
  border: none;
}

.button-info
{
  background-color: #00a7e2;
  display: flex;
  justify-items: center;
  /* align-content: center; */
  align-items: center;
  color: white;
  border: none;
}

.button-primary:hover
{
  background-color: #ffa25f;
}

.button-secondary:hover
{
  background-color: #0f81e4;
}

.button-secondary:hover
{
  background-color: #38c9fd;
}

.btn-outline-orange
{
  border: #f47820;
  border-style: solid;
  border-width: 4px;
  background: white;
  color: #f47820;
}