.title
{
  color: #0056a1;
}

hr.contact-underline
{
  border-top: 2px solid #f47820;
  max-width: 10rem;
  text-align: left;
  margin-bottom: 0px !important;
  margin-bottom: 0px !important;
}

hr.contact-underline-two
{
  border-top: 2px solid #f47820;
  max-width: 8rem;
  margin-top: 3px !important;
}

.section-contact
{
  background-color: #f4f6f9;
}

.text-blue
{
  color: #00a7e2;
}

.bg-blue
{
  background-color: #0056a1;
}

.bg-light-gray
{
  background-color: #f4f6f9;
}
/* .text-section-right {
  position: absolute;
  left: -14%;
  padding-left: 70px;
} */

@media only screen and (min-width: 992px)
{
  .text-section-right
  {
    position: absolute;
    left: -70px;
    padding: 30px 70px;
    z-index: 10;
  }
}

@media only screen and (max-width: 991px)
{
  .text-section-right
  {
    margin: auto;
  }
}

@media only screen and (min-width: 992px)
{
  .text-section-left
  {
    position: absolute;
    right: -70px;
    padding: 30px 70px;
    z-index: 10;
  }
}

@media only screen and (max-width: 991px)
{
  .text-section-left
  {
    margin: auto;
  }
}