hr.media-divider
{
  border-top: 2px solid #f47820;
  max-width: 10rem;
  margin-bottom: 0px !important;
}

hr.media-divider-two
{
  border-top: 2px solid #f47820;
  max-width: 8rem;
  margin-bottom: 0px !important;
  margin-top: 3px !important;
}

.header-img
{
  object-fit: cover;
  max-height: 20rem;
}

.left-carousel-shadow
{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 86, 161, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 86, 161, 1);
  box-shadow: 10px 10px 0px 0px rgba(0, 86, 161, 1);
}

.right-carousel-shadow
{
  -webkit-box-shadow: -18px 36px 0px 0px rgba(0, 167, 226, 1);
  -moz-box-shadow: -18px 36px 0px 0px rgba(0, 167, 226, 1);
  box-shadow: -18px 36px 0px 0px rgba(0, 167, 226, 1);
}

.right-carousel li.active
{
  background-color: #00a7e2;
}

.left-carousel li.active
{
  background-color: #0056a1;
}

.explain-btn
{
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  fill: #00a7e2;
}