/* HOME PAGE SESSION TEXT ANIMATION */

/* Chrome, Safari, Opera */
@-webkit-keyframes zoomInOut {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.5,1.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
  }
  
  /* Standard syntax */
  @keyframes zoomInOut {
    0% {
      -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.5,1.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
  }
  
  .session-desc-home {
    -webkit-animation: zoomInOut 5s; /* Chrome, Safari, Opera */
    animation: zoomInOut 5s;
    animation-iteration-count: infinite;
    color: #f47820!important;
    font-size: 30px;
      font-weight: bold;
  }

.session-desc-training {
    -webkit-animation: zoomInOut 1s; /* Chrome, Safari, Opera */
    animation: zoomInOut 3s;
    animation-iteration-count: infinite;
    color: #f47820!important;
    font-size: 20px;
    font-weight: bold;
}

.session-desc-slogon {
    -webkit-animation: zoomInOut 5s; /* Chrome, Safari, Opera */
    animation: zoomInOut 5s;
    animation-iteration-count: infinite;
    color: #f47820!important;
    font-size: 25px;
    font-style: italic;
    font-family: 'SF Pro Display';
    font-weight: bold;
}

.session-desc-training1 {
    animation-duration: 3s;
    animation-name: slidein;
    color: #003F82!important;
    font-size: 25px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
/***************/
.spinner-blue {
    color: #0056A1!important;
}
.border{
border:1px solid red;
}
.img-vision{
box-shadow: -8px 8px #F47820;
}
.img-mission{
box-shadow: 8px 8px #00A7E2;
}
/* MEDIA & NEWS */

.media-see-more-btn {
    background: #00A7E2;
    color: #fff;
    font-size: 16px;
    font-family: 'SF Pro Display', sans-serif;
    cursor: pointer;
}

.media-album-big-image {
    height: 279px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.media-album-small-image {
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Contact US form */

.contact-phone-input {
    height: 38px!important;
}

.react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px;
    margin-left: 0;
    background: #FFFFFF;
    border: 2px solid #BCBCBC!important;
    border-radius: 0px!important;
    line-height: 25px;
    /* height: 38px!important; */
    width: 100%!important;
    /* width: 300px; */
    outline: none;
    color: #707070!important;
}

.react-tel-input .selected-flag {
    outline: none;
    position: relative;
    width: 38px;
    height: 100%;
    padding: 0 0 0 8px;
    border-radius: 0!important;
    border-top: 1px solid #BCBCBC!important;
    border-bottom: 1px solid #BCBCBC!important;
    border-left: 1px solid #BCBCBC!important;
}


.flag-select__btn:after, .flag-select__btn[aria-expanded="true"]:after {
    content: none!important;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.menu-flags {
    border-radius: 0;
    border: 2px solid #BCBCBC;
    width: 100%;
    max-height: 38px;
    display: block;
    color: #707070!important;
}

.flag-select__options {
    position: absolute;
    z-index: 999999;
    border: 1px solid #bdbbbb;
    border-radius: 3px;
    background: #fff;
    margin-top: 8px;
    padding: 8px 0;
    max-height: 160px;
    overflow: auto;
    width: 100% !important;
}

.flag-select__option__icon {
    width: 1.5em!important;
    height: 1.5em!important;
    position: unset !important;
    top: 0.3em!important;
}

.flag-select__btn:focus {
    outline: 0;
}

#contact-us-input-label {
    font-size: 16px;
    color: #707070;
    font-family: 'SF Pro Display', sans-serif;
}

#contact-us-input {
    border-radius: 0;
    border-color: #BCBCBC;
    border-width: 2px;
    /* max-width: 472px; */
}

#contact-us-input:focus {
    box-shadow: none;
}


/* Registration */


.registration-modal-title {
    font-size: 22px;
    /* color: #707070; */
    color: black;
    text-decoration: underline;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-style: normal;
}

.registration-modal-content {
    font-size: 16px;
    color: black;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
}
.registration-modal-content-title {
    font-size: 17px;
    color: black;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
}

.registration-modal-btn {
    background: #F47820;
    border: 1px solid #F47820;
    border-radius: 0;
    height: 100%;
    height: 50px;
    font-family: 'SF Pro Display';
    font-weight: bold;
} 

.registration-modal-btn p{
    font-family: 'SF Pro Display';
    font-weight: bold;
    color: #fff;
    cursor: pointer;
} 

.registration-menu-flags {
    border-radius: 0;
    border: 2px solid #BCBCBC;
    width: 100%;
    height: 40px !important;
    display: block;
    color: #707070!important;
}

.registration-phone-input {
    height: 50px!important;
}

.registration-input-label {
    font-size: 22px;
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
}

#registration-input {
    border-radius: 0;
    border: 2px solid #BCBCBC;
    color: #707070;
    width: 100%;
    height: 50px;
}

#registration-input:focus {
    box-shadow: none;
}

.registration-small-gray-text {
    font-size: 20px;
    color: #707070;
    font-weight: bold;
    font-family: 'SF Pro Display';
    cursor: pointer;
}


/* Program */

.program-blue-btn {
    background: #0056A1;
    font-family: 'SF Pro Display';
    font-size: 17px;
    color: #fff;
    border: 1px solid #0056A1;
    font-weight: bold;
}

.program-blue-btn:hover p {
    color: #fff;
}

.program-orange-btn {
    background: #F47820;
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: #fff;
    border: 1px solid #F47820;
}


/* SOLO SESSION */

ul{ 
    margin-left: -20px!important; 
} 

/* li {
    margin: 6px 0px 6px 0px!important;
    text-align: justify;
} */
/* 
.liSolo {
    margin: 6px 0px 6px 0px!important;
    text-align: justify;
} */

li::marker {
    color: black;
}

.solo-page-sticky-btns {
    position: fixed;
    bottom: 0;
    left: 17%;
    width: 70%;
    background-color: #003F82;
    z-index: 99;
}


.solo-session-orange-rectangle {
    width: 60%;
    background: #FCA728;
    height: 240px;
    z-index: 1;
    margin-left: -17px;
}

.solo-session-circle-black {
    height: 10px;
    width: 10px;
    background: black;
    border-radius: 50%;
    /* margin: auto; */
}

.solo-session-circle-orange {
    height: 25px;
    width: 25px;
    background: #FCA728;
    border-radius: 50%;
    margin: auto;
}

#register-now-btn-orange {
    border: 2px solid #F47820;
    background: #F47820;
    font-family: 'SF Pro Display';
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border-radius: 0;
    cursor: pointer;
}

#register-now-btn-white {
    border: 2px solid #F47820;
    background: #fff;
    font-family: 'SF Pro Display';
    color: #F47820;
    font-size: 22px;
    border-radius: 0;
    font-weight: bold;
    cursor: pointer;
}


/* Sessions */

#session-catalogue-btn {
    background: #F47820;
    border: 1px solid #F47820;
    border-radius: 0;
    height: 100%;
    width: 100%;
    height: 50px;
    font-family: 'SF Pro Display';
    font-weight: bold;
}

#session-catalogue-btn:focus {
    outline: none;
    box-shadow: none;
}

#session-catalogue-input {
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'SF Pro Display';
    width: 100%;
    height: 50px
}

#session-catalogue-input::placeholder {
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display';
}

#session-catalogue-input:focus {
    outline: 0;
}

.session-catalogue-desc {
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.session-catalogue-title {
    font-family: 'SF Pro Display';
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.session-catalogue-img {
    z-index: 1;
    margin-top: -20%;

}

.sessions-gradient {
    background-image: linear-gradient(to right, #00A7E2, #00A7E2, rgba(0, 43, 81, 0));
}

.banner {
    padding: 2em;
    background-image: linear-gradient(to right, #00A7E2, #00A7E2, rgba(0, 43, 81, 0)), url('../assets/images/Sessions/sessions_banner.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    /*height: 300px;*/
}

.content {
    color: white;
}

.session-banner-title {
    font-family: 'SF Pro Display';
    font-size: 42px;
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.session-details-btn {
    border: 2px solid #00A7E2;
    cursor: pointer;
}


/* COURSES */

.course-big-image {
    width: 374px;
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.course-small-image {
    height: 200px;
    width: 200px;
    background-position: top center;
    background-size: cover;
}

.course-gray-date-text {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.course-gray-date-text-media {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.course-gray-media-text {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 25px;
    font-weight: bold;
}

.course-small-gray-text {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.course-small-gray-text-solo {
    color: #707070;
    font-size: 16px;
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

.course-small-light-blue-text {
    color: #00A7E2;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

.course-light-blue-text {
    color: #00A7E2;
    font-family: 'SF Pro Display';
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.course-light-blue-text-solo {
    color: #00A7E2;
    font-family: 'SF Pro Display';
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.card-header {
    background-color: #F4F4F4;
    border: none;
}

.course-blue-text {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.course-gray-text {
    /* color: #707070; */
    color: black;
    font-family: 'SF Pro Display';
    font-size: 16px;
    /* margin: 0;*/
}

.search-courses-clear-btn {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.search-courses-btn {
    background: #00A7E2;
    color: #fff;
    font-family: 'SF Pro Display';
    font-size: 20px;
    border: 1px solid #00A7E2;
    font-weight: bold;
    width: 100%;
}

.search-plus-btn{
   text-transform: unset;
    color: #00A7E2;
    font-family: 'SF Pro Display';
    border: 1px solid #00A7E2;
    font-size: 20px;
    background: #F4F6F9;
    font-weight: bold;
    width: 100%;
}
.search-plus-btn:hover{
 border: 1px solid #00A7E2;

}


.search-courses-btn:hover {
    background: #fff;
    color: #00A7E2;
    border: 1px solid #00A7E2;
}

.courses-btn {
    font-family: 'SF Pro Display';
    font-size: 20px;
    background: #fff;
    color: #00A7E2;
    border: 1px solid #00A7E2;
    font-weight: bold;
    width: 100%;
}

.courses-btn:hover {
    background: #00A7E2;
    color: #fff;
    border: 1px solid #00A7E2;
}

#search-input-courses {
    border: 1px solid #BCBCBC;
    font-family: 'SF Pro Display';
    font-style: italic;
    border-radius: 0;
    color: #707070;
}

#search-input-courses:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
}

.courses-item {
    height: auto;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    border: tomato;
}

.search-input-label {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 18px;
    margin: 0px 0px 2px 0px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.search-box-courses {
    background: #F4F4F4;
    width: 100%;
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: bold;
}

.custom-control-l#707070abel {
    color: #707070;
    font-family: 'SF Pro Display';
}


/* AUTHORIZATION */

.authorization-vision-mission-title {
    color: #F47820;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 33px;
}

.authorization-vision-mission-container {
    background: #fff;
    box-shadow: 0px 20px 36px rgba(0, 0, 0, 0.1);
}

.authorization-big-slogan {
    color: #fff;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}

.authorization-slogan {
    color: #fff;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

.authorization-recognition-text {
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

.authorization-recognition-our {
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.authorization-title {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.authorization-desc {
    font-size: 20px;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    color: #707070;
    text-align: center;
}


/* Contact */

.contact-request-desc {
    font-size: 28px;
    color: #00A7E2;
    font-family: 'SF Pro Display';
    font-weight: bold;
}

.contact-light-left-section h3 {
    color: #00A7E2;
    font-family: 'SF Pro Display';
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
}

.contact-light-left-section p {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-size: 24px;
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
}

.contact-light-left-section {
    background: #F4F6F9;
    z-index: 1;
    margin-right: -50px;
    /* background: purple; */
}

.contact-light-right-section h3 {
    color: #00A7E2;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
}

.contact-light-right-section p {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}

.contact-light-right-section {
    background: #F4F6F9;
    z-index: 1;
    margin-left: -150px;
}

.img-fluid {
    width: 100%;
}


/****************Card video*************************/

.unit-7 {
    background-color: #ffffff;
    /* border: 4px solid #3c3191;*/
    height: 580px;
    color: black;
    border-radius: 5px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    top: 0;
    margin-bottom: 4em;
    text-align: center;
}

.unit-7::after {
    content: '';
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border: 3px solid #F47820;
    background-color: white;
    z-index: -1;
    display: block;
    position: absolute;
}

.unit-7 img {
    width: 100%;
    height: 100%;
}

@media (max-width: 576px) {
    .card .unit-7 {
        height: 225px;
        width: auto;
    }
    .course-small-gray-text-solo {
        color: #707070;
        font-size: 14px;
        font-family: 'SF Pro Display';
        line-height: 2;
        font-weight: 600;
        font-style: normal;
        margin: 0;
    }
}

@media (min-width: 576px) {
    .search-box-courses {
        padding: 1.5rem;
    }
}

.search-radio-label {
    color: #707070;
    font-size: 22px;
    font-family: 'SF Pro Display';
    font-weight: Bold;
    text-transform: none;
}


/*************************************************/

.contact-title {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 36px;
}

.contact-title-media {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 30px;
}

.contact-desc {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 15px;
}


/* Footer */

.footer-title {
    color: #fff;
    font-family: 'SF Pro Display';
    font-size: 21px;
}

.footer-link {
    color: #fff;
    font-family: 'SF Medium';
    font-size: 17px;
    cursor: pointer;
}

.footer-link:hover {
    color: #fff;
}

.footer-copyright {
    color: #fff;
    font-family: 'SF Medium';
    font-size: 18px;
}

.footer-contact
{
    background: url("../assets/images/Footer/footerBg.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}

#contact-form-btn
{
    background-color: #F47820;
    height: 60px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 18px;
    font-family: 'SF Pro Display';
    color: #fff;
    padding: 2%;
    text-transform: uppercase;
}

#register-form-btn {
    background-color: #0056A1;
    height: 60px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 18px;
    font-family: 'SF Pro Display';
    color: #fff;
    font-weight: bold;
    padding: 2%;
    text-transform: uppercase;
}


/* #contact-form-btn:hover {
    background-color: #fff;
    border: 1px solid #F47820;
    color: #F47820
} */

#contact-form-btn:focus {
    outline: none;
    box-shadow: none;
}

#contact-form-input {
    border: 1.5px solid #BCBCBC;
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 15px;
    border-radius: 0;
}

#contact-form-input:focus {
    border: 2px solid #0056A1;
    /* border-color: #0056A1; */
    box-shadow: none;
}

#contact-form-input:focus {
    outline: 0;
    /*box-shadow: 0;*/
}

::placeholder {
    color: #707070;
    font-size: 18px;
    padding: 3%;
}

.form-control {
    color: red;
}

#contact-form-label {
    font-family: 'SF Pro Display';
    color: #707070;
    font-size: 16px;
    font-weight: normal;
    margin: 2%;
}

#newsletter-btn {
    background: #00A7E2;
    border-radius: 0;
    height: 100%;
    width: 160px;
    height: 50px;
    font-family: 'SF Pro Display';
}

#newsletter-btn:focus {
    outline: none;
    box-shadow: none;
}

#newsletter-input {
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display';
    font-weight: 600;
    width: 220px;
    height: 50px
}

#newsletter-input::placeholder {
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display';
}

#newsletter-input:focus {
    outline: 0;
}

.newsletter-text {
    color: #fff;
    font-size: 20px;
    font-family: 'SF Pro Display';
}


/* Home */

.home-session-title {
    color: #00A7E2;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
}

.home-session-desc {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-size: 13px;
}

.home-session-day {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 50px;
}

.home-session-month {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 16px;
}

.home-see-more-bloc {
    background: #EAEAEA;
    color: #BCBCBC;
    cursor: pointer;
    max-width: 100%;
    margin-top: 20px;
    height: 110px;
}

.home-see-more-bloc:hover {
    color: #0056A1;
}

.home-see-more-bloc a {
    font-size: 20px;
    color: #BCBCBC;
    font-family: 'SF Pro Display';
    cursor: pointer;
}

.home-program-security-image {
    width: auto;
    height: 397px;
    background-position: center center;
    background-size: cover;
}

.home-program-image {
    width: 100%;
    height: 195px;
    background-position: center center;
    background-size: cover;
}

.home-program-btn {
    height: 60px;
    border: 0;
}

.home-program-btn span {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: 'SF Pro Display';
    text-transform: uppercase;
    text-align: center;
}

.home-blue-title {
    color: #0056A1;
    font-family: 'SF Pro Display';
    font-weight: bold;
}

.afsac-presentation-text {
    font-size: 20px;
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-style: normal;
    color: #202124;
    text-align: justify;
    padding: 4%;
}

.slick-slide div {
    outline: none;
}

.slider-title {
    font-size: 50px;
    color: #707070;
    font-style: italic;
    font-family: 'SF Pro Display';
    font-weight: bold;
}

.slider-caption {
    color: #707070;
    font-style: normal;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 20px;
}

.slider-pagination {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0;
    background: transparent;
    border-radius: 0;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}

.slider-pagination li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.slider-pagination li button {
    border: none;
    background: #ABC6DF;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    width: 30px;
    border-radius: 0px;
    /* display:none;*/
}



.slider-pagination li.slick-active button {
    background-color: #0056A1;
}

.slider-pagination li button:hover,
.slider-pagination li button:focus {
    background: #0056A1;
    outline: 0;
}

.home-blue-btn {
    background: #0056A1;
    font-family: 'SF Pro Display';
    font-size: 20px;
    padding: 20px;
    color: #fff;
    border: 1px solid #0056A1;
    font-weight: bold;
}

.home-blue-btn:hover {
    background: white;
    color: #0056A1;
    border: 1px solid #0056A1;
}

.carousel-caption {
    text-align: left !important;
    bottom: 21% !important;
}

.carousel-title {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    /* text-shadow: 0px 0px 10px #000; */
    text-transform: uppercase;
    font-family: 'SF Pro Display';
    color: #fff;
}

.home-carousel-image {
    height: 650px;
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
}

.carousel-control-prev-icon {
    background-image: url('../assets/images/Home/carousel-back-arrow.png') !important;
    padding: 15px;
    background-size: contain;
}

.carousel-control-next-icon {
    background-image: url('../assets/images/Home/carousel-forward-arrow.png') !important;
    padding: 15px;
    background-size: contain;
}


/* Header

.header {
    line-height: 3;
}
*/


.header-language-select {
    width: 103px;
    height: 34px;
    background-color: #BCBCBC;
    border-radius: 0;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.header-language-select:hover {
    color: #0A56A1;
}

.header-language-select p {
    color: white;
    font-family: 'SF Pro Display';
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
}

.header-language-select p:hover {
    color: #0A56A1;
}

.header-mobile-active-item {
    background-color: #0A56A1;
}

.header-mobile-search-input {
    border: 2px solid #BCBCBC;
    color: #BCBCBC;
    font-family: 'SF Medium';
    font-size: 18px;
}

.header-mobile-search-input:focus {
    outline: 0;
}

.header-mobile-search-input::placeholder {
    color: #BCBCBC;
    font-family: 'SF Pro Display';
    font-size: 18px;
}

.header-dropdown-item-text {
    color: #707070;
    font-family: 'SF Pro Display';
    font-size: 18px;
}

.header-dropdown-small-title {
    color: #00A7E2;
    font-weight: bold;
}

.header-dropdown-title {
    color: #00A7E2;
    font-weight: bold;
}

.header-vl {
    border: 1px solid white;
    height: auto;
}

.header-nav-item-active {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
}

.header-nav-item-active:hover a {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
   
}

.header-nav-item-active:hover {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
}

.header-nav-item-active a {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
}

.header-nav-item {
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
    text-transform:uppercase;
}

.header-nav-item a {
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.header-nav-item a:hover {
    text-decoration: none;
    color: #003F82;
    text-transform:uppercase;

}
.lineheader{
width: 100%;

border:1px solid white;

}
.box{
    
    margin-top: 30%;
}

#search-bar {
    background-color: white !important;
}

#search-input {
    border: 0 !important;
    color: #003F82;
    /* width: 220px; */
    height: 34px;
    background-color: white;
    border-color: transparent;
    font-family: 'SF Pro Display';
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
}

#search-input:focus {
    outline: none !important;
    border: 0;
    /* box-shadow: 0 0 0 0.2rem #003F82;
    box-shadow: 0;*/
}

.header-social-icon {
    width: 20px;
    height: 20px;
}

/* .header-contact-text {
    font-family: 'SF Pro Display';
    font-size: 15px;
    color: #BCBCBC;
} */

.logo {
    width: auto;
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;
    height: 100%;
    z-index: 99;
}


/*******Breadcrumb********/

.Breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    font-size: 14px;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    background-color: white;
    border-radius: .25rem
}

.breadcrumb-item {
    display: flex
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: '>'
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none
}

.breadcrumb-item.active {
    color: #6c757d
}

.Breadcrumb a {
    color: #707070;
}


/* FULL PAGE LOADER */


/* Preloder */

.preLoader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
    background: white;
}


/* Responsive */


/* Tablet */

@media (min-width: 768px) and (max-width: 991.98px) {
    .media-album-big-image {
        height: 300px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .media-album-small-image {
        height: 100px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .course-big-image {
        width: 374px;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    /* Courses */
    .course-blue-text {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 17px;
        text-transform: uppercase;
        margin: 0;
    }
    /* Catalogue */
    #session-catalogue-btn {
        width: 100%;
    }
    #session-catalogue-input {
        width: 100%;
    }
    .session-catalogue-img {
        /*    height: 430px;*/
        z-index: 999;
        margin-top: -20%;
        width: 100%;
    }
    /* Solo Sessions */
    .solo-session-circle-black {
        height: 8px;
        width: 8px;
        background: black;
        border-radius: 8px;
    }
    /* Authorization */
    .authorization-title {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 25px;
    }
    /* Contact */
    .contact-light-right-section h3 {
        color: #00A7E2;
        font-family: 'SF Pro Display', cursive;
        font-size: 40px;
    }
    .contact-light-right-section p {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 30px;
    }
    .contact-light-right-section {
        background: #F4F6F9;
        z-index: 1;
        margin-top: -55px;
        width: 80%;
    }
    .contact-title {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-weight: bold;
        font-size: 30px;
    }
    .contact-desc {
        color: #707070;
        font-family: 'SF Pro Display';
        font-size: 20px;
    }
    /* Newsletter */
    #newsletter-input {
        border: 2px solid #FFFFFF;
        background: transparent;
        border-radius: 0;
        color: #fff;
        font-size: 15px;
        font-family: 'SF Medium';
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
    .newsletter-text {
        color: #fff;
        font-size: 20px;
        font-family: 'SF Pro Display';
        text-align: center;
    }
    #newsletter-btn {
        margin-top: 10px !important;
    }
    /* Home */
    .espace {
        width: 100%;
        height: 10rem;
        background: red;
    }
    .home-see-more-container {
        padding: 20px 0px 20px 0px;
    }
    .home-blue-title {
        font-size: 35px;
    }
    .home-blue-btn {
        background: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 15px;
        padding: 12px;
        color: #fff;
        border: 1px solid #0056A1;
        font-weight: bold;
    }
    .carousel-title {
        font-size: 20px;
    }
}


/* Mobile */

@media (max-width: 767.98px) {

    .home-blue-btn {
        background: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 10px;
        padding: 10px;
        color: #fff;
        border: 1px solid #0056A1;
        font-weight: bold;
    }

    .course-big-image {
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    /* Catalogue */
    #session-catalogue-btn {
        width: 100%;
    }
    #session-catalogue-input {
        width: 100%;
    }
    .session-catalogue-desc {
        font-size: 13px;
    }
    .session-catalogue-title {
        font-size: 25px;
        font-weight: bold;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .session-catalogue-img {
        z-index: 999;
        margin-top: -10%;
         width: 100%;
    }
    /* Prograam */
    .program-blue-btn {
        font-size: 12px;
    }
    /* Solo courses */
    .img-solo {
        height: 100%;
    }
    .solo-session-orange-rectangle {
        width: 100%;
        height: 200px;
    }
    .solo-session-circle-black {
        height: 8px;
        width: 8px;
        margin-top: 4px;
        background: black;
        border-radius: 5px;
        /* margin: auto; */
    }
    /* Courses */
    .course-gray-date-text {
        font-size: 14px;
    }
 
    .course-small-light-blue-text {
        font-size: 13px;
    }
    .course-light-blue-text {
        font-size: 14px;
    }
    .course-light-blue-text-solo {
        font-size: 16px;
        text-transform: none;
    }
    .course-blue-text {
        font-size: 20px;
    }
    .course-gray-text {
        font-size: 16px;
    }
    .search-courses-clear-btn {
        font-size: 17px
    }
    /* Authorization */
    .authorization-big-slogan {
        color: #fff;
        font-family: 'SF Pro Display';
        font-style: italic;
        font-size: 25px;
        text-align: center;
    }
    .authorization-slogan {
        color: #fff;
        font-family: 'SF Pro Display';
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
    .authorization-recognition-text {
        color: #707070;
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
    }
    .authorization-title {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 16px;
    }
    .authorization-desc {
        font-size: 18px;
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-style: normal;
        color: #707070;
        text-align: center;
    }
    /* Contact */
    .contact-light-right-section h3 {
        color: #00A7E2;
        font-family: 'SF Pro Display';
        font-size: 25px;
    }
    .contact-light-right-section p {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 18px;
    }
    .contact-light-right-section {
        background: #F4F6F9;
        z-index: 1;
        margin-top: -55px;
        width: 80%;
    }
    .contact-title {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-weight: bold;
        font-size: 22px;
    }
    .contact-desc {
        color: #707070;
        font-family: 'SF Pro Display';
        font-size: 12px;
    }
    /* Newsletter */
    #newsletter-input {
        border: 2px solid #FFFFFF;
        background: transparent;
        border-radius: 0;
        color: #fff;
        font-size: 15px;
        font-family: 'SF Pro Display';
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
    #newsletter-btn {
        margin-top: 10px !important;
    }
    .newsletter-text {
        color: #fff;
        font-size: 15px;
        font-family: 'SF Pro Display';
        text-align: center;
    }
    /* Home */
    .home-session-title {
        color: #00A7E2;
        font-family: 'SF Pro Display';
        font-size: 13px;
    }
    .home-session-desc {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-size: 10px;
    }
    .home-session-day {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-weight: bold;
        font-size: 35px;
    }
    .home-session-month {
        color: #0056A1;
        font-family: 'SF Pro Display';
        font-weight: bold;
        font-size: 15px;
    }
    .home-blue-title {
        font-size: 25px;
    }
    .slider-title {
        font-size: 20px;
        color: #707070;
        font-family: 'SF Pro Display';
        font-style: italic;
    }
    .slider-caption {
        color: #707070;
        font-family: 'SF Pro Display';
        font-size: 15px;
    }
    .carousel-title {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .afsac-presentation-text {
        font-size: 12px;
        font-family: 'SF Pro Display';
        font-weight: normal;
        font-style: normal;
        color: #202124;
        text-align: center;
        padding-top: 20px;
    }
    .home-blue-title {
        font-size: 18px;
        /* margin-top: 20px; */
    }
    .home-see-more-bloc {
        background: #EAEAEA;
        color: #BCBCBC;
        cursor: pointer;
        max-width: 100%;
        margin-top: 0px;
        height: auto;
    }
    .custom-control-label {
        color: #707070;
        font-family: 'SF Pro Display';
        font-weight: bold;
        font-size: 22px;
    }
    #newsletter-btn {
        width: 100%;
    }
    #contact-form-btn {
        height: 60px;
        width: 100%;
    }
    .footer-link {
        font-size: 16px;
    }
    .footer-copyright {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .authorization-recognition-text {
        font-size: 10px;
    }
}