
/* .html2canvas-container { width: 3000px !important; height: 3000px !important; } */

.catalogueRow {
    margin-top: 200px!important;
}


/* Contact US form */
#upload-diploma {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#upload-letter {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#upload-cv {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#contact-us-input-file {
    border-radius: 0;
    border:2px solid #BCBCBC;
    width: 100%;
    font-size: 16px;
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;

    cursor: pointer;
    /* border-width: 2px; */
}

#contact-us-input-label {
    font-size: 16px;
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
}

#contact-us-input {
    border-radius: 0;
    border-color: #BCBCBC;
    border-width: 2px;
    font-size: 16px;
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    /* max-width: 472px; */
}

#contact-us-input:focus {
    box-shadow: none;
}
.register-btn
{
    background-color: red;
}
/* Checkbox */

#check-register .search-radio-label {
    font-size: 22px;
    font-family: 'SF Pro Display';
    color: #707070;
    text-transform: none;
}

.search-radio-btn {
    height: 20px;
    width: 20px;
    border: 2px solid #BCBCBC;
}

.search-radio-btn-active {
    height: 20px;
    width: 20px;
    border: 2px solid #BCBCBC;
}
 

.search-circle-radio-btn {
    height: 10px;
    width: 10px;
    background-color: #0056A1;
}

.search-radio-label {
    font-size: 16px;
    font-family: 'SF Pro Display';
    color: #707070;
    text-transform: uppercase;
}



/* Footer */
.footer-title {
    color: #fff;
    font-family: 'SF Pro Display';
    font-size: 21px;
}

.footer-link {
    color: #fff;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}
.footer-link {
    text-align: left;
}
.footer-link:hover {
    color: #fff;
 }


.footer-copyright {
    color: #fff;
    font-family: 'SF Pro Display';
    font-size: 18px;
}

.footer-contact{
    background: url("../assets/images/Footer/footerBg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}

#contact-form-btn {
    background-color: #F47820;
    height: 60px;

    border: 1px solid transparent;
    border-radius: 0;
    font-size: 18px;
    font-family: 'SF Pro Display';
    color: #fff;
    font-weight: bold;
}

#contact-form-btn:focus {
    outline: none;
    box-shadow: none;
}


#contact-form-input {
    border: 1.5px solid #BCBCBC;
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 15px;
    border-radius: 0;
}

#contact-form-input:focus{
    border: 2px solid #0056A1;
    /* border-color: #0056A1; */
    box-shadow: none;
}

#contact-form-input:focus {
    outline: 0;
    box-shadow: 0;
}

#contact-form-label {
    font-family: 'SF Pro Display';
    font-weight: 600;
    color: #707070;
    font-size: 16px;
}



#newsletter-btn {
    background: #00A7E2;
    border-radius: 0;
    height: 100%;
    width: 160px;
    height: 50px;
    font-family: 'SF Pro Display';
    font-weight: bold;
}


#newsletter-btn:focus {
    outline: none;
    box-shadow: none;
}

#newsletter-input {
    border: 2px solid #fff;
    background: transparent;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display';
    font-weight: 600;
    width: 220px;
    height: 50px
}

#newsletter-input::placeholder {
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display';
    font-weight: 600;
}

#newsletter-input:focus {
    outline: 0;
}

.newsletter-text {
    color: #fff;
    font-size: 20px;
    font-family: 'SF Pro Display';
    font-weight: bold;
}


/* Header */

.divi{
    border:         none;
    border-left:    1px solid white;
    height:         40px;
    width:          1px;
}

.nav-link{
    margin-right: 2rem;
   margin-left:2rem;
  text-align: center;
  
}
@media  (max-width: 1176px){

.nav-link{
   margin-right: 0.5rem;
   margin-left:0.5rem;
   text-align: center;

   padding:0;
}
.logo{
left:-8%;
}
}

.header-promo-button span{
    font-size: 15px;
    font-family: 'SF Pro Display';
    font-weight: 600;
    color: #fff;
}

.header-promo-button {
    background: #F47820;
    width: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.header-promo-banner-title {
    font-size: 15px;
    font-family: 'SF Pro Display';
    font-weight:600 ;
    color: #fff;
}

.header-language-select {
    width: 103px;
    height: 34px;
    background-color: #BCBCBC;
    border-radius: 0;
    color: #fff;
    border:0;
    cursor: pointer;
}

.header-language-select:hover{
    color: #0A56A1;
}

.header-language-select p {
    color: white;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
}

.header-language-select p:hover {
    color: #0A56A1;
}

.header-mobile-active-item {
    background-color: #0A56A1;
}

.header-mobile-search-input {
    border: 2px solid #BCBCBC;
    color: #BCBCBC;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 18px;
}

.header-mobile-search-input:focus {
    outline: 0;
}

.header-mobile-search-input::placeholder {
    color: #BCBCBC;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 18px;
}

.header-dropdown-item-text {
    color: #707070;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 18px;
}

.header-dropdown-small-title{
    color: #00A7E2;
    font-weight: bold;
}


.header-dropdown-title {
    color: #00A7E2;
    font-weight: bold;
}

.header-vl {
    border-left: 1px solid white;
    height: auto;
}

.header-nav-item-active {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
    text-transform: uppercase;

}

.header-nav-item-active:hover a {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
    text-transform: uppercase;
}

.header-nav-item-active:hover {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
    text-transform: uppercase;
}

.header-nav-item-active a {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #003F82;
    cursor: pointer;
    text-transform: uppercase;

}


.header-nav-item {
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;

}

.header-nav-item a {
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}


.header-nav-item:hover {
    text-decoration: none;
    color: #003F82;
}

.header-nav-item:hover a {
    text-decoration: none;
    color: #003F82;
}

#search-bar {
    background-color: white!important;
}


#search-input {
    /* border: 2px solid #BCBCBC!important; */
    /* width: 220px; */
    color: #003F82; 
    height: 34px;
    background-color: white;
    border-color: transparent;
    font-family: 'SF Pro Display';
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
}

#search-input:focus {
    /* box-shadow: 0 0 0 0.2rem #003F82; */
    outline: none!important;
    border: 0;
    box-shadow: 0;
}

.header-social-icon {
    width: 20px;
    height: 20px;
}

.header-contact-text {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 19px;
    margin-right: 20px;
    color: #BCBCBC;
}

.logo {
    width: auto;
    position: absolute;
    top: 0;
   /* left: -15px;*/
    bottom: 0;
    height: 100%;
    z-index: 99;
}







@media (max-width: 576px) {
    #newsletter-btn {
        width: 100%;
    }
    #contact-form-btn {
        height: 60px;
        width: 100%;
    }
    
    .footer-link {
        font-size: 16px;
    }

    .footer-copyright {
        font-size: 15px;
    }
    #check-register .search-radio-label {
        font-size: 14px;
        font-family: 'SF Pro Display';
        color: #707070;
        text-transform: none;
    }
}