body,
html
{
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
    font-family: 'SF Pro Display';
}

@media screen and (max-width: 375px)
{
    body
    {
        overflow-x: hidden!important;
    }
}


/* ----------- iPad mini ----------- */

@media screen and (max-width: 768px)
{
    body
    {
        overflow-x: hidden!important;
    }
}

a
{
    text-decoration: none!important;
}

@font-face
{
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Semibold.woff2') format('woff2'), url('./assets/fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Bold.woff2') format('woff2'), url('./assets/fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Regular.woff2') format('woff2'), url('./assets/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* OLD */


/* #header .bg-dark {
    background-color: #BCBCBC!important;
}
#header .navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

#header #responsive-navbar-nav {
  justify-content: center !important;
}

#header {
  background: #F4F6F9;
  /* position: relative; 
  /* padding-top:10px; 
}

.spanText{
  color:#BCBCBC;
  font-size:14;
  font-weight: bold;
}

#header .mr-auto{
  margin-right: 0 !important;
}

#header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  justify-content: center !important;
}
.logoMobile {
    display: block;
    margin: 20px auto;
    width: 100px;
  }
  .footer p, .footer span {
    color: #fff;
  }
  .slick-list img {
    max-width: 345px !important;
}
.bluBtn {
  background: #0056A1;
  padding:10px 20px;
  color: #fff;
  border:none;
}
.titleban {
  font-size: 50px;
  text-shadow: 0px 0px 10px #000;
  text-transform: uppercase;
}
#root {
  overflow-x: hidden;
}
.blueTitle{
  color: #0056A1;
  font-weight: bold;
}
.lightBlueTitle{
  color: #00A7E2;
  font-weight: bold;
}
.footerContact{
  background: url(./assets/footerBg.png);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
}
.sessionP{
  color:#707070;
  font-size: 15px;
}
.footerNewLettre{
      background: url(assets/newsLettreBg.png);
    height: 470px;
    background-size: cover;
    background-color: #fff;
}
.customDropDown::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #fff;
}
  

@media (min-width:768px){
  .logoMobile {
    display: none;
  }
  .icons {
    display: flex;
  }
  .carousel-caption {
 
    bottom: 26% !important;
    left: 15% !important;
 
    text-align: left !important;
}
.credit{
  font-size: 50px;
}
.mobile{
  display: none !important;
}
}

@media (max-width: 768px){
  .logo {
    display: none;
  }
  .carousel-caption{
    display: none;
  }

  .footerNewLettre{
    background: none;
    height: auto;
  }
} */