.news-list-date-month-year {
  color: #00A7E2;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
}

.news-list-date-day {
  color: #F47820;
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 60px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
  0% {
      -webkit-transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.08,1.08);
  }
  100% {
      -webkit-transform: scale(1);
  }
}

/* Standard syntax */
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.08,1.08);
  }
  100% {
      -webkit-transform: scale(1);
  }
}

.a-la-une {
  -webkit-animation: zoom 5s; /* Chrome, Safari, Opera */
  animation: zoom 5s;
}



@media (max-width: 767px){
.slick-prev{

top:25%;
}
.slick-next{
  top:25%;
}
.slider-pagination li button{

display:none;
}
}